.wrap-info {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.info-frame {
    margin: auto;

    width: 85vw;
    height: 85vh;

    margin-top: 100px;

    /* border-radius: 50px; */
    box-shadow: 3px 7px 11px 0 rgba(0, 0, 0, 0.16);
    background-color: #fdf0be;
}

.bg {
    width: 75vw;
    height: 65vh;
    margin-top: 12%;
}

.info-prof {
    position: absolute;
    text-align: center;
    justify-content: center;

    width: 15vw;

    top: 5vh;
    left: 1vw;
}

.prof_bg {
    position: absolute;

    left: 50%;

    width: 80%;
}

.prof {
    position: absolute;

    left: 55%;
    bottom: -450px;

    border-radius: 50%;

    width: 70%;
}

.home-section {
    position: fixed;

    bottom: 3vh;
    right: 3vw;
}

.info-top {
    position: relative;
}

.bio-info {
    margin-top: 1%;

    position: absolute;
    left: 25%;

    font-size: 3vw;
}

.title-info {
    margin-top: 1%;

    position: absolute;
    right: 10%;

    font-size: 3vw;
}